<div class="tyre">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-light mt-3 mb-4">FIND TYRE</h1>
      </div>
    </div>
  </div>

  <div class="container searchTyre">
    <div class="row">
      <div class="col-md-4 col-sm-4 headMargin">
        <h5 class="underln">Search Type 1 Tyre</h5>
      </div>
      <div class="col-md-4 col-sm-4 headMargin">
        <h5 class="underln">Search Type 2 Tyre</h5>
      </div>
      <div class="col-md-4 col-sm-4 headMargin">
        <h5 class="underln">Search Type 3 Tyre</h5>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 dropList">
        <div class="dropdown">
          <button class="btns btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Tyre Type 1
          </button>
          <div class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tyre 1</a>
            <a class="dropdown-item" href="#">Tyre 2</a>
            <a class="dropdown-item" href="#">Tyre 3</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 dropList">
        <div class="dropdown">
          <button class="btns btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Tyre Type 2
          </button>
          <div class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tyre 1</a>
            <a class="dropdown-item" href="#">Tyre 2</a>
            <a class="dropdown-item" href="#">Tyre 3</a>
          </div>
        </div>

      </div>

      <div class="col-md-4 col-sm-4 dropList">
        <div class="dropdown">
          <button class="btns btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Tyre Type 3
          </button>
          <div class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Tyre 1</a>
            <a class="dropdown-item" href="#">Tyre 2</a>
            <a class="dropdown-item" href="#">Tyre 3</a>
          </div>
        </div>

      </div>
      
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <button class="btn btn-warning btn-sm">SEARCH</button>
      </div>
    </div>
  </div>

</div>