p{
      margin-bottom: 0 !important;
}
img{
      width:70px;
       height:60px;
       margin-top: 10px;
       border-radius: 15px;
}
.btn-circle.btn-xl { 
     margin-top: 25px;
      padding: 9px 16px; 
      border-radius: 25px; 
      font-size: 12px; 
      text-align: center; 
  }