$textalign: center;
$color: blue;
$color1: white;
$h2Padding: 40px 0 10px 0;
$ParaPadding: 30px 0 10px 0;

@mixin commonColor($color) {
      color: $color;
      text-align: $textalign;
}

.bckclr {
      background-color: rgba(241, 241, 241, 0.828);
}

.left {
      float: left;
      shape-outside: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
      background-color: rgba(0, 60, 255, 0.986);
      height: 330px;
      width: 50%;

      h2 {
            @include commonColor(white);
            padding: $h2Padding;
      }

      p {
            @include commonColor(white);
            padding: $ParaPadding;
      }

      button {
            background-color: $color1;
            text-align: $textalign;
            margin: 25px 0 10px 130px;
            width: 250px;
            border: 2px solid rgba(0, 60, 255, 0.986);
            &:hover {
                  background-color: yellow;
            }
      }
}

.right {
      float: right;
      shape-outside: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
      background-color: rgba(244, 248, 14, 0.924);
      height: 330px;
      width: 50%;
      h2 {
            @include commonColor(black);
            padding: $h2Padding;
      }

      p {
            @include commonColor(black);
            padding: $ParaPadding;
      }
      button {
            background-color: $color1;
            text-align: $textalign;
            margin: 25px 0 10px 130px;
            width: 250px;
            border: 2px solid rgba(244, 248, 14, 0.924);
            &:hover {
                  background-color: $color;
                  color: $color1;
            }
      }
}

#lastBtn {
      color: $color;
      border: 2px solid $color;
      width: 200px;
      margin: 50px 0 0 450px;
      &:hover {
            background-color: rgb(49, 49, 248);
            color: $color1;
      }
}

@media (max-width: 768px) {
      .left {
            button {
                  margin: 30px 0 10px 85px;
                  width: 150px;
            }
            h2 {
                  font-size: 29px !important;
            }
      }

      .right {
            button {
                  margin: 33px 0 10px 90px;
                  width: 150px;
            }
            h2 {
                  font-size: 25px !important;
            }
      }
      #lastBtn {
            margin: 50px 0 0 250px;
      }
      .container {
            max-width: 700px !important;
      }
}

@media (max-width: 414px) {
      .left {
            float: left;
            shape-outside: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 92% 100%, 0% 100%);
            height: 350px;
            button {
                  margin: 25px 0 10px 10px;
                  width: 150px;
            }
            h2 {
                  padding: 40px 0 10px 0;
                  font-size: 29px !important;
            }
      }

      .right {
            float: right;
            shape-outside: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
            height: 350px;
            button {
                  margin: 33px 0 10px 22px;
                  width: 150px;
            }
            .h2 {
                  padding: 40px 0 10px 0;
                  font-size: 25px !important;
            }
      }

      #lastBtn {
            width: 200px;
            margin: 50px 0 0 100px;
      }

      
}
