<div class="bckclr pb-1">

  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-black mt-3 mb-5">EVENTS</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 left">
        <h2>TYRE EXPO AUG 2020</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
        <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
      </div>
      <div class="col-md-6 right">
        <h2>AUTOMOBILE FEST AUG 2020</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
        <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
      </div>
    </div>

    <div class="container row mb-5">
      <div class="col-md-12">
        <button id="lastBtn" class="btn" (click)="toggle()">{{buttonName}}</button>
      </div>
    </div>

    <div class="container" *ngIf="isShown">
      <div class="row">
        <div class="col-md-6 left">
          <h2>TYRE EXPO SEP 2020</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
          <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
        </div>
        <div class="col-md-6 right">
          <h2>AUTOMOBILE FEST SEP 2020</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
          <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
        </div>
      </div>

      <div class="row mt-5 pb-5">
        <div class="col-md-6 left">
          <h2>TYRE EXPO OCT 2020</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
          <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
        </div>
        <div class="col-md-6 right">
          <h2>AUTOMOBILE FEST OCT 2020</h2>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicin!</p>
          <button class="btn" data-toggle="modal" data-target="#exampleModalLong">KNOW MORE</button>
        </div>
      </div>

    </div>

  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Offer Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          (1) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>
          (2) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>

          (3) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>

          (4) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>

          (5) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>

          (6) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit?
          <br>

        </div>
      </div>
    </div>
  </div>

</div>