<div class="row">
  <div class="col-md-12 col-sm-12 col-12">

    <form>
      <h5 class="text-center">Booking For Maintenance/Wash</h5>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Vehicle Name/Model">
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-12">
          <div class="dropdown ">
            <button class="btns btn dropdown-toggle text-left" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Vehicle Type
            </button>
            <div class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">2 wheeler</a>
              <a class="dropdown-item" href="#">4 wheeler</a>
              <a class="dropdown-item" href="#">6 wheeler</a>
            </div>
          </div>

        </div>
      </div>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Contact Person Name">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="password" autocomplete="off" placeholder="Contact Details">
          </div>
        </div>
      </div>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Service Type">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="file" autocomplete="off" placeholder="Upload Image">
          </div>
        </div>
      </div>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Requirements/Description*">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            Need Pick-up : &nbsp;
            <input type="checkbox" name="skill" value="male"> Yes
            <input type="checkbox" name="skill" value="female"> No
          </div>
        </div>
      </div>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Area Location">
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="date" autocomplete="off" placeholder="Pick-up Date">
          </div>
        </div>
      </div>

      <div class="row col-md-12 col-sm-12 col-12">
        <div class="col-md-6 col-sm-6 col-12">
          <div class="form-group">
            <input class="form-control" type="text" autocomplete="off" placeholder="Budget Price">
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary  btn-rounded ">Submit</button>
        <button class="btn btn-danger  btn-rounded ">Cancel</button>
      </div>

    </form>

  </div>
</div>