<div class="fitscreen">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center m-3">MISSION</h1>
      </div>
    </div>
  </div>

  <div class="polyDiv">

    <div class="polygon"></div>
    <p>Lorem ipsum dolor sit amet, conse ctetur adip isicing elit. Ullam totam similique, eius necess itatibus ex sint
      dolorem. magni fuga praes entium distin ctio cons equatur quas at repell endus. Quos ratione 
      laboriosam sunt veritatis ab recus andae! Quis perfer endis nesciunt asperiores, eligendi quasi iure magni aut
      minima veritatis ab ipsa aspernatur, commodi, aliquam odio ad iusto? Excepturi obcaecati, saepe doloremque enim
      nesciunt eos possimus similique. Aut pariatur vitae, aliquid accusantium dolores cumque rerum fugit fugiat Quos
      ratione possimus nam, obcaecati expedita culpa ullam delectus tenetur numquam maxime, delenitellendus Lorem ipsum
      dolor sit amet, consectetur adipisicing elit. Ullam totam similique, eius necessitatibu veritatis ab recusandae!
      Quis perferendis nesciunt asperiores, eligendi quasi iure magni aut minima veritatis ab ipsa aspernatur, commodi,
      aliquam odio ad iusto? Excepturi obcaecati, saepe doloremque enim nesciunt eos possimuse maiores sed quae id?
      Eveniet iure impedit cumque, ipsam deleniti, minus ullam quia asperiores ipsum sapiente unde magnam maxime quia
      asperiores ipsum sapiente unde magnam maxime fugit quisquam doloribus ad numquam doloremque, magni equatur quas at
      repellendus. Quos ratione possimus nam, obcaecati expedita culpa ullam delectus tenetur numquam maxime,
      delenitellendus</p>
  </div>

</div>