<div class="container">
    <h5 class="text-center mb-3">Wallet Details</h5>
    <div class="col-md-12 col-sm-12 col-12 row">
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>

        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>

        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
        <div class="col-md-3 col-sm-4 col-6 text-center card">Lorem Ipsum</div>
    </div>

</div>