<div class="container-fluid bgcolor">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-black mt-3 mb-4">SERVICES</h1>
      </div>
    </div>
  </div>

  <div class="container  mb-2">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nemo repellendus assumenda corrupti similique
      blanditiis facilis aliquid nostrum dicta maxime repellat suscipit incidunt autem odio voluptates, illum
      consequatur. Eos impedit maxime error quisquam cumque ducimus ratione dicta numquam officia, id maiores cupiditate
      hic, iste delectus fugit veniam obcaecati.</p>
    <h5 class="textclr">More About Services</h5>
  </div>

  <div class="container mt-5  mb-2">

    <h4 class="text-center textclr">
      Search Type Of Services
    </h4>
  </div>

  <div class="container mt-5">
    <div class="row">

      <div class="col-md-7 col-sm-7 col-12">
        <div class="dropdown col_drop">
          <button class="dropList btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Select Tyre Services Type
          </button>
          <div class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item">Service type 1</a>
            <a class="dropdown-item">Service type 2</a>
            <a class="dropdown-item">Service type 3</a>
          </div>
        </div>
        <!-- <select class="dpmenu dropdown-menu" aria-labelledby="dropdownMenuButton">
              <option class="dropdown-item" *ngFor="let service of services" [value] = "sevice">{{service}}</option>
            </select>-->
      </div>

      <div class="col-md-5 col-sm-5 col-12">
        <button class="btn srhBtn1">SEARCH</button>
      </div>

    </div>
  </div>

  <div class="container mgrTop mb-3">
    <div class="row offset-3 offsetline">

      <div class="col-md-3 col-sm-5 col-12 mr-0">
        <hr class="line1">
      </div>

      <div class="col-md-1 col-sm-2 ml-0 mr-0">
        <h5 class="text-center">OR</h5>
      </div>

      <div class="col-md-3 col-sm-5  ml-0">
        <hr class="line1">
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row offset-3 offsetSearch">
      <div class="col-md-6 col-sm-6">
        <button class="btn srhBtn2"> MORE ABOUT SRVICES</button>
      </div>
    </div>
  </div>
</div>