<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mgrTop">
       <div class="row">
         <div class="col-md-6 btnAdj">
           <button routerLink="/signup/user-signup" class="btn btn-primary btn-lg btn-block btn-rounded">User SignUp</button>
         </div>
         <div class="col-md-6 btnAdj">
            <button routerLink="/signup/service-center-signup" class="btn btn-danger btn-lg btn-block btn-rounded">Service Center SignUp</button>
         </div>
       </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
          <router-outlet></router-outlet>
      </div>
    </div>
  </div>