<div class="products">

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center text-black mt-3 mb-4">PRODUCTS</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo1.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product one</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo2.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product two</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo3.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product three</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo4.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product four</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo5.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product five</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-4 col-12 mgr">
        <div class="card cardWidth">
          <img class="card-img-top" src="../../assets/img/logo/logo6.png" alt="Card image cap">
          <div class="card-body hvr bg-light" data-toggle="modal" data-target="#exampleModalLong">
            <h4 class="text-center">Product six</h4>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-light">
          <h5 class="modal-title" id="exampleModalLongTitle">Product Information</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          (1) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit? Lorem ipsum dolor sit amet.
          <br>
          (2) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit? Lorem ipsum dolor sit amet.
          <br>

          (3) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit? Lorem ipsum dolor sit amet.
          <br>

          (4) Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus harum similique corporis quas
          ipsa velit earum dolores soluta laudantium odit? Lorem ipsum dolor sit amet.

        </div>
      </div>
    </div>
  </div>


</div>