form {
      h5 {
            margin: 30px;
      }
      .btn-rounded {
            border-radius: 25px;
            width: 337px;
            margin: 0 10px;
      }
}

@media (max-width: 768px) {
      form {
            h5 {
                  margin: 40px;
            }
            .btn-rounded {
                  border-radius: 25px;
                  width: 235px;
                  margin: 0 10px;
            }
      }
}

@media (max-width: 414px) {
      form {
            h5 {
                  margin: 40px;
            }
            .btn-rounded {
                  border-radius: 25px;
                  width: 118px;
                  margin: 0 5px;
            }
      }
}
